In [3]:
#Directorio actual de trabajo

import os
import pandas as pd

# Muestra el directorio de trabajo actual
print("Directorio actual de trabajo:", os.getcwd())

Directorio actual de trabajo: /home/sara-arranz/ADALAB/MÓDULO 2. APIs + SQL/PROYECTO/da-project-promo-49-modulo-2-team-4/FASE 2. CONVERSIÓN CSV/Archivos CSV LAST FM/2022

In [4]:
df1=pd.read_csv("/home/sara-arranz/ADALAB/MÓDULO 2. APIs + SQL/PROYECTO/da-project-promo-49-modulo-2-team-4/FASE 2. CONVERSIÓN CSV/Archivos CSV LAST FM/2022/LastFM_indie2022.csv")

In [5]:
df1

,Unnamed: 0,artist,listeners,playcount,bio_content
0,0,bad gyal,345481,18564878,"Alba Farelo Solé (born 7 March 1997), known pr..."
1,1,la pantera,57022,801066,NaN
2,2,hard gz,21415,929630,NaN
3,3,soge culebra,41880,861024,"<a href=""https://www.last.fm/music/Soge+Culeb..."
4,4,cano,22392,486983,CANO is a Franco-Ontarian folk-pop collective ...
...,...,...,...,...,...
176,176,nelly,2966611,31914783,"Cornell Iral Haynes, Jr. (born November 2, 197..."
177,177,josh gamez,1295,16215,NaN
178,178,cardi b,1938754,57976298,"Belcalis Marlenis Almánzar (born October 11, 1..."
179,179,cordae,691154,19438801,"Cordae Amari Dunston (born August 26, 1997), k..."
180,180,funky,24699,318087,There are at least two artists known as Funky:...

In [6]:
df2=pd.read_csv("/home/sara-arranz/ADALAB/MÓDULO 2. APIs + SQL/PROYECTO/da-project-promo-49-modulo-2-team-4/FASE 2. CONVERSIÓN CSV/Archivos CSV LAST FM/2022/LastFM_pop2022.csv")

In [7]:
df2

,Unnamed: 0,artist,listeners,playcount,bio_content
0,0,bizarrap,756610,37076993,"Gonzalo Julián Conde, known artistically as Bi..."
1,1,manuel turizo,425590,7636334,"Manuel Turizo Zapata (born April 12, 2000), be..."
2,2,depol,14588,210508,NaN
3,3,marta santos,12275,137710,NaN
4,4,arde bogotá,20005,1046997,NaN
...,...,...,...,...,...
272,272,bigflo & oli,0,0,NaN
273,273,sidhu moose wala,62567,2806920,Sidhu Moose Wala hails from the village of Moo...
274,274,wyatt flores,95743,2281415,This Mexican-American Oklahoma-born troubadour...
275,275,tyler hubbard,84745,1121410,"Tyler Hubbard is a singer-songwriter, and musi..."
276,276,luis gabriel,8682,120874,NaN

In [8]:
df3=pd.read_csv("/home/sara-arranz/ADALAB/MÓDULO 2. APIs + SQL/PROYECTO/da-project-promo-49-modulo-2-team-4/FASE 2. CONVERSIÓN CSV/Archivos CSV LAST FM/2022/LastFM_rap2022.csv")

In [9]:
df3

,Unnamed: 0,artist,listeners,playcount,bio_content
0,0,bad gyal,345481,18564878,"Alba Farelo Solé (born 7 March 1997), known pr..."
1,1,la pantera,57022,801066,NaN
2,2,hard gz,21415,929630,NaN
3,3,soge culebra,41880,861024,"<a href=""https://www.last.fm/music/Soge+Culeb..."
4,4,cano,22392,486983,CANO is a Franco-Ontarian folk-pop collective ...
...,...,...,...,...,...
176,176,nelly,2966611,31914783,"Cornell Iral Haynes, Jr. (born November 2, 197..."
177,177,josh gamez,1295,16215,NaN
178,178,cardi b,1938754,57976298,"Belcalis Marlenis Almánzar (born October 11, 1..."
179,179,cordae,691154,19438801,"Cordae Amari Dunston (born August 26, 1997), k..."
180,180,funky,24699,318087,There are at least two artists known as Funky:...

In [10]:
df4=pd.read_csv("/home/sara-arranz/ADALAB/MÓDULO 2. APIs + SQL/PROYECTO/da-project-promo-49-modulo-2-team-4/FASE 2. CONVERSIÓN CSV/Archivos CSV LAST FM/2022/LastFM_reggaeton2022.csv")

In [11]:
df4

,Unnamed: 0,artist,listeners,playcount,bio_content
0,0,manuel turizo,425590,7636334,"Manuel Turizo Zapata (born April 12, 2000), be..."
1,1,bad bunny,1675315,238559075,"Benito Antonio Martínez Ocasio (born March 10,..."
2,2,feid,492028,41961597,"Salomón Villada Hoyos, also known as Ferxxo or..."
3,3,ozuna,738304,20793921,"Juan Carlos Ozuna Rosado (born March 13, 1992)..."
4,4,anuel aa,490766,20995568,"Emmanuel Gazmey Santiago, known professionally..."
...,...,...,...,...,...
104,104,christian ponce,1067,9555,NaN
105,105,amarion,10988,130506,NaN
106,106,yera,34876,304482,NaN
107,107,juan miguel,2262,7762,"Juan Miguel Dell'Orco, successful Venezuelan s..."
108,108,kele,259794,3554787,Rowland Kelechukwu Okereke (born 13 October 19...

In [6]:
result = pd.concat([df1, df2, df3,df4], ignore_index=False)

In [7]:
result.to_csv("total_2022_LastFM.csv")